<style>

	.interface {
		width: 69vw;
		margin-left: 15vw;
		margin-right: 15vw;
		padding: 3vmin;
		background-color: rgba(0, 0, 0, 0);
		border: solid 1px white;
		border-radius: 3vmin
	}
	td {
		width: 33vw;
		font-size: 4.5vmin;
	}
	input {
		font-size: 3vmin;
	}
	button {
		margin-top: 2vmin;
		font-size: 2.8vmin;
	}
</style>
<div class="interface">
	{{ form_start(form) }}

	<table>
		<tr>
			<td>Categorie/Designation</td>
			<td>Section/Designation</td>
			<td>Nom Modele</td>
		</tr>
		<tr>
			<td>{{ form_widget(form.category) }}</td>
			<td>{{ form_widget(form.section) }}</td>
			<td>{{ form_widget(form.name) }}</td>
		</tr>
		<tr>
			<td colspan="3" style="text-align: center;"></td>
		</tr>
	</table>

	{{ form_end(form) }}
</div>
